/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-harvestworks-artist-events-list {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px 15px;
    flex-wrap: wrap;

    .event_card {
        padding: 15px;
        max-width: min(250px, 20vw);

        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: lightgray;

        .event_details {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .event_title {
                margin: 0px;
                overflow-wrap: break-word;
            }
            .event_tagline {
                color: var(--wp--preset--color--contrast-2);
                margin: 0px;
            }
            
            p {margin: 0px; font-size: medium}
        }
    }
}
