/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-harvestworks-event-artists-list {

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .artist_card {
        display: flex;
        gap: 1.8rem;

        position: relative;

        background-color: var(--wp--preset--color--custom-material-3);
        padding: 2.4rem;
        align-items: stretch;
        width: auto;

        transition: background-color 0.3s;
        text-decoration: none !important;

        &:hover {
            background-color: lightgray;
            text-decoration: none !important;
        }

        .card_anchor {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .link_stack {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;

            img {
                object-fit: cover;
                height: 16rem;
                aspect-ratio: 1;
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 1.8rem;
                z-index: 2;

                .link {
                    display: block;
                    background-color: var(--wp--preset--color--custom-material-3);
                    color: white;
                    text-decoration: none;
                    padding: 0.4rem 0.6rem;
                    text-align: center;
                    font-weight: 600;
                    font-size: 1.2rem;

                    opacity: 0.6;
                    transition: opacity 0.3s;

                    &:hover {
                        opacity: 1;
                    }
                }

            }

        }


        .artist_details {
            display: flex;
            flex-direction: column;
            padding: 0.6rem;
            margin-top: -1.2rem;


            .artist_name {
                margin: 0;
                margin-bottom: 1.2rem;
                margin-top: 0.6rem;
                line-height: 1;
                font-size: 3.2rem;
                font-weight: 500;
            }

            .artist_bio {
                margin: 0;
                margin-left: 0.2rem;
            }
        }
    }
}