/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-harvestworks-event-artists-list {

    display: flex;
    flex-direction: column;

    .artist_card {
        display: flex;
        gap: 1.2rem;

        background-color: var(--wp--preset--color--custom-material-3);
        padding: 2.4rem;
        align-items: stretch;
        width: auto;

        img {
            object-fit: cover;
            aspect-ratio: 1;
        }

        .artist_details {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
            }

            h3 {
                color: var(--wp--preset--color--contrast-2);
            }

            p {
                margin: 0px;
            }
        }
    }
}