/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-harvestworks-events-carousel {

	width: 100vw !important;
	max-width: none !important;
	height: 500px;
	max-height: 100vh;
	overflow: auto;
	display: flex;
	scrollbar-width: none;

	scroll-snap-type: both mandatory;
	scroll-behavior: smooth;
	
	margin: 0px calc(var(--hw-padding) * -1) !important;

	box-sizing: border-box;

	a {
		scroll-snap-align: start;
		min-width: 100%;
		min-height: 100%;
		float: left;
		background-size: auto 100%;
		background-position: center;
		background-color: black;
		background-repeat: no-repeat;
		position: relative;

		.featured_item_text {
			width: 100%;
			box-sizing: border-box;
			padding: 1rem;

			position: absolute;
			bottom: 0;
			margin: 0;

			display: flex;
			justify-content: space-between;

			font-size: 12px;
			line-height: 1.2;

			> .featured_item_info {
				max-width: 500px;
			}

			> .featured_item_details {
				text-align: right;
				text-wrap: nowrap;
			}

			> div {
				flex: 1;

				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				gap: .25rem;

				> * {
					color: white;
					margin: 0;
					text-shadow: black 0px 1px 5px;
				}
			}
		}
	}
}
