/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$sidebar-margin-top: 1.6rem;


.event-information {
    margin-top: $sidebar-margin-top;

    font-weight: 600;
    font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.579), 1.15rem);
    opacity: 0.9;
    letter-spacing: 4%;


    .status {
        background-color: var(--wp--preset--color--accent-4);
        display: inline-block;
        margin: 0;
        padding: 0rem 0.6rem;
        color: white;
        font-weight: 700;

        position: relative;
        left: -0.15rem;
    }

    .notes,
    .address {
        margin-top: -1rem;
        font-size: 0.85rem;
        line-height: 1.5;
        opacity: 0.6;

    }

    .notes,
    .address+.notes,
    .address {
        margin-top: 1rem;
    }

}