/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$sidebar-margin-top: 1.6rem;


.project-information {
    margin-top: $sidebar-margin-top;

    font-weight: 600;
    font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.579), 1.15rem);
    opacity: 0.9;
    letter-spacing: 4%;


    .status {
        background-color: var(--wp--preset--color--contrast-3);
        background-color: var(--wp--preset--color--accent-4);
        display: inline-block;
        margin: 0;
        margin-bottom: 0.6rem;
        padding: 0rem 0.6rem;
        color: white;
        font-weight: 700;

        position: relative;
        left: -0.15rem;

        opacity: 0.7;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding-top: 1.8rem;

        .link {
            display: block;
            background-color: var(--wp--preset--color--accent-4);
            color: white;
            text-decoration: none;
            padding: 0.4rem 0.6rem;
            text-align: center;
            font-weight: 700;
        }

    }

    .press-quotes {
        display: none;
    }
}

.press-quotes {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .quote {
        margin: 1.6rem 2.4rem;

        .quote-text {
            font-style: italic;
            letter-spacing: 2%;
        }

        .quote-meta {
            display: flex;
            justify-content: space-between;
            width: auto;

            .quote-author {
                font-weight: 600;

                &::before {
                    display: inline-block;
                    content: "—";
                    text-decoration: none;
                    margin-right: 0.32rem;
                }
            }

            .quote-date {
                text-align: right;
                font-weight: 500;
                opacity: 0.6;
                white-space: nowrap;
                margin: 0;
            }
        }

    }
}

.wp-post-image {
    max-height: 80vh;
}