/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-harvestworks-event-calendar {

	#calendar {
		user-select: none;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(6, auto);

		#calendar_body {
			grid-column-start: 1;
			grid-column-end: 8;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: repeat(auto, 1fr);
			outline: 1px solid lightgrey;
			gap: 1px;

			>div {
				outline: 1px solid lightgrey;
			}
		}

		>div {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#calendar_date {
			justify-content: left;

			>* {
				margin: 0;
				font-family: inherit;
			}
		}

		button {
			cursor: pointer;
			border: none;
			overflow: auto;
			background: none;

			padding: 0.6rem;
			font-size: 1.2rem;
			color: var(--wp--preset--color--contrast-2);

			&:hover {
				color: var(--wp--preset--color--accent-4);
			}
		}

		.calendar_weekday {
			text-align: center;
			outline: none;
			flex: 1;
			padding: 10px;
			text-wrap: nowrap;
		}

		.calendar_day {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1;
			position: relative;
			padding-bottom: 15%;


			&:hover {
				background-color: var(--wp--preset--color--custom-material-3);
			}
		}

		.calendar_day.has_event::after {
			content: "";
			position: absolute;
			left: 42.5%;
			bottom: 12.5%;
			display: block;
			background-color: var(--wp--preset--color--accent-4);
			border-radius: 50%;
			width: 15%;
			aspect-ratio: 1;
		}

		.calendar_day.queried {
			background-color: var(--wp--preset--color--accent-4);
			// box-shadow: 0px 0px 5px var(--wp--preset--color--accent-4);

			z-index: 1;
			color: white;
			font-weight: 600;

			transition: background-color .3s ease, box-shadow 2s ease;

			&::after {
				// background-color: white;
			}
		}
	}
}