/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$sidebar-margin-top: 1.6rem;

$link-color: white;
$link-bg-color: #a7ad8b;
$link-padding: 1px 6px 3px 6px;
$link-font-weight: 700;

$current-page-indicator-color: #a7ad8b;
$current-page-indicator-size: 0.6rem;


$main-list-margin-bottom: 1.5rem;
$main-list-font-size: 18px;
$main-list-font-weight: 700;

$sub-list-margin-bottom: 1rem;
$sub-list-margin-left: 1.6rem;
$sub-list-font-size: 18px;
$sub-list-font-weight: 500;

$sub-sub-list-margin-top: 1rem;
$sub-sub-list-margin-bottom: 1.25rem;
$sub-sub-list-margin-left: 3.2rem;
$sub-sub-list-font-size: 16px;
$sub-sub-list-font-weight: 500;


.wp-block-create-block-navigation-sidebar .sidebar {
    margin-top: $sidebar-margin-top;
}

.wp-block-create-block-navigation-sidebar {

    // position: sticky;
    z-index: 0;
    top: var(--hw-sticky-pad) !important;

    .sidebar>ul>li a {
        margin-top: 0;
        color: $link-color;
        background-color: $link-bg-color;
        padding: $link-padding;
        font-weight: $link-font-weight;
    }

    .sidebar a {
        text-decoration: none !important;
    }

    .sidebar a:hover {
        text-decoration: underline !important;
    }

    .sidebar ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .sidebar ul li {
        display: block;
        width: fit-content;
    }

    .sidebar ul .currentPage {
        position: relative;
    }

    .sidebar ul .currentPage::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0.6rem;
        left: -1.2rem;
        width: $current-page-indicator-size;
        height: $current-page-indicator-size;
        background-color: $current-page-indicator-color;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    .sidebar>ul>li {
        margin-bottom: $main-list-margin-bottom;
        font-size: $main-list-font-size;
        font-weight: $main-list-font-weight;
    }

    .sidebar>ul>ul>li {
        margin-bottom: $sub-list-margin-bottom;
        margin-left: $sub-list-margin-left;
        font-size: $sub-list-font-size;
        font-weight: $sub-list-font-weight;
    }

    .sidebar>ul>ul>ul {
        margin-top: $sub-sub-list-margin-top;
        margin-bottom: $sub-sub-list-margin-bottom;
    }

    .sidebar>ul>ul>ul>li {
        margin-bottom: $sub-list-margin-bottom;
        margin-left: $sub-sub-list-margin-left;
        font-size: $sub-sub-list-font-size;
        font-weight: $sub-sub-list-font-weight;
    }
}


@media screen and (max-width: $tablet-breakpoint) {
    .wp-block-create-block-navigation-sidebar .sidebar {
        display: none;
    }

    .wp-block-columns:has(> .wp-block-column > .wp-block-create-block-navigation-sidebar) {
        flex-direction: column;
    }
}