/**
 * Styles for nav-overlay-button
 */

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$highlight-color: #a7ad8b;

.wp-block-create-block-navigation-overlay {
    width: 96px;
    height: 32px;

    .nav-overlay-button {
        width: 96px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 13px;

        cursor: pointer;
        background-color: $highlight-color;
        color: white;

        .nav-overlay-button-circle {
            width: 12px;
            height: 12px;
            background-color: white;
        }
    }

}