/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$highlight-color: #a7ad8b;

.nav-overlay-button {
    width: 96px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;

    cursor: pointer;
    background-color: $highlight-color;
    color: white;

    .nav-overlay-button-circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.8;
    }
}