/**
 * Styles for nav-overlay-button
 */

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$highlight-color: #a7ad8b;
// $overlay-color: #a7ad8bef;
$overlay-color: #000000e5;

button.wp-block-navigation__responsive-container-open,
button.wp-block-navigation__responsive-container-close {
    display: none;
    margin: 0px;
}

.wp-block-hw-navigation-overlay {
    margin-left: -4rem;
    width: 96px;
    height: 32px;

    margin-left: -16px;

    @media (max-width: $mobile-breakpoint) {
        margin-left: 0px;
    }

    transition: transform 0.2s ease-in-out;

    // &:hover {
    //     transform: scale(1.03);
    // }

    .nav-overlay-button {
        width: 96px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 13px;

        position: fixed;
        top: 4rem;

        cursor: pointer;
        background-color: $highlight-color;
        color: white;

        z-index: 500;

        .nav-overlay-button-circle {
            width: 12px;
            height: 12px;
            background-color: white;
        }
    }

}


.nav-overlay-button.is-menu-open {
    background-color: white;
    color: black;
    cursor: pointer;

    .nav-overlay-button-circle {
        background-color: black;
    }

    // &:hover {
    //     transform: scale(1.03);
    // }
}




.wp-block-navigation__responsive-container:not(:has(.footer)) {
    background-color: $overlay-color !important;
    backdrop-filter: blur(5px);

    color: white !important;

    font-family: 'Avenir Next', sans-serif;
    font-size: 2.8rem !important;
    letter-spacing: 3%;

    z-index: 400 !important;

    .wp-block-navigation__container {
        width: 100%;
    }

    .wp-block-navigation__responsive-close {
        max-width: 96rem !important;
    }

    .wp-block-search__button-inside,
    .wp-block-search__button-outside {
        position: absolute;
        right: 0;
        top: 13.5rem;
        z-index: 401;

        @media (max-width: $mobile-breakpoint) {
            top: 11.5rem;
        }

        .wp-block-search__inside-wrapper {
            width: 80% !important;
            max-width: 48rem;

            height: 4.8rem;

            margin-left: auto;

            @media (max-width: $mobile-breakpoint) {
                width: 100% !important;
            }

            border: none;
            background-color: #ffffff11;

            .wp-block-search__input {
                background: transparent !important;
                font-size: 2.4rem !important;
                padding-left: 1.2rem;
                color: white !important;

                .placeholder {
                    color: white;
                    opacity: 0.6;
                }
            }

            .wp-block-search__button {
                background-color: transparent !important;
                display: flex;
                align-items: center;

                svg {
                    color: white;
                    // transform: scale(2.4) translate(-0.24rem);
                }
            }
        }
    }

    @media (max-width: $mobile-breakpoint) {
        .wp-block-search {
            width: 100% !important;
        }
    }

    .wp-block-navigation__responsive-container-content {
        gap: 1.33rem !important;
        margin-left: 2.8rem;

        @media (max-width: $mobile-breakpoint) {
            margin-left: 0rem;
        }

        &:before {
            content: 'HARVESTWORKS';
            letter-spacing: 33%;
            font-family: "Avenir Next Condensed";
            font-size: 3.5rem;
            font-style: normal;
            font-weight: 600;
            text-align: center;
            width: 100%;

            margin-bottom: 2.8rem;

            @media (max-width: $mobile-breakpoint) {
                font-size: 2.5rem;
                margin-top: 2rem;
                margin-bottom: 8rem;
            }
        }

        .wp-block-navigation-item {
            font-size: 2.2rem !important;
            letter-spacing: 3% !important;

            .submenu-wrapper {
                line-height: 1.33 !important;

                .wp-block-navigation-item__content {
                    display: inline;

                }

                .submenu-toggle {
                    display: inline;
                    padding-left: 1rem;
                    position: relative;
                    top: 0.1rem;
                    font-size: 3rem;
                    text-decoration: none !important;

                    cursor: pointer;
                }
            }

            .wp-block-navigation-submenu {
                max-height: 0rem !important;
                overflow: hidden !important;
                padding: 0rem !important;

                transition: all 0.4s ease, padding-left 0.4s step-end;
            }

            &.is-open {
                .wp-block-navigation-submenu {
                    max-height: 100rem !important;
                    padding-top: 0.5rem !important;
                    padding-left: 2rem !important;

                    transition: all 0.4s ease, padding-left 0s ease;
                }
            }

        }


    }


    :where(.wp-site-blocks *:focus) {
        outline-width: 0px;
        outline-style: none;
    }


    .wp-block-navigation__submenu-container {
        padding-top: 12px;
        padding-bottom: 12px;

    }

    .wp-block-navigation-item:has(.wp-block-social-links) {
        width: 100%;
    }

    .wp-block-social-links {
        gap: 0.8rem !important;

        &.right {
            position: absolute;
            right: -0.8rem;
            bottom: 2.4rem;
        }

        &.left {
            margin-top: 4.8rem;
            position: absolute;
            bottom: 6rem;
            right: -0.8rem;
        }

        .wp-block-social-link {

            img {
                width: 3.2rem;
                height: 3.2rem;
            }
        }

    }

    @media screen and (max-width: $tablet-breakpoint) {
        .wp-block-navigation__responsive-container {
            font-size: 1.66rem !important;
        }

        .wp-block-social-links {
            position: relative !important;
            width: 100% !important;
            right: 0 !important;
            bottom: 0 !important;
            margin-top: 1.6rem !important;
            gap: 1.66rem !important;
        }

        .wp-block-social-links.right {
            top: -0.6rem;
            margin-bottom: 4.2rem;
        }
    }

}